<?xml version="1.0" encoding="UTF-8"?>

<!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

<config version="1.0" htmlParse="false">

  <!-- title of the study -->
  <item id="studyTitle">Subjektivität der Arbeit (Pretest) Uni Hohenheim</item>

  <!-- text-align property(left|right) -->
  <item id="textAlign">left</item>

  <!-- shuffle cards (true|false)  -->
  <item id="shuffleCards">true</item>

  <!-- login required (true|false) -->
  <item id="loginrequired">false</item>
  <!-- login with common password (leave blank if not required) -->
  <item id="loginPassword"></item>
  <!-- URL to individual login script(leave blank if not required) -->
  <item id="loginUrl"></item>
  <!-- request mode (post|get) -->
  <item id="loginUrlMethod"></item>

  <!-- activate/deactivate optional steps (true|false) -->
  <item id="showStep3">true</item>
  <item id="showStep4">true</item>
  <item id="showStep5">true</item>

  <!-- HtmlQ only: disable the in-window back button -->
  <item id="disableBackButton">true</item>

  <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
  <!-- add label: <label>[STRING]</label> -->
  <!-- add note: <note>[STRING]</note> -->
  <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
  <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
  <item id="form">
	
	<label>Sie sind...</label>
	<input type="radio" required="false">männlich;weiblich;andere;keine Angabe</input>
	
	<label>Wie alt sind Sie?</label>
	<input type="radio" required="false">jünger als 16 Jahre;17 bis 18;19 bis 21;22 bis 24;24 oder älter;keine Angabe</input>

  <label>Welchen Durchgang absolvieren Sie gerade?</label>
  <input type="radio" required="true">a wünschenswert;b wahrscheinlich</input>

  <label>Was ist ihre Teilnehmernummer?</label>
  <input type="text" required="true"></input>



  </item>


  <!-- URL for data transmission via POST/GET (leave blank if not required) -->
  <item id="submitUrl">exe.php?do=save</item>
  <!-- request mode (post|get) -->
  <item id="submitUrlMethod">post</item>

  <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
  <item id="submitMail">prof.sabine.pfeiffer@uni-hohenheim.de</item>
 </config>
